<div ng-if="showDebugWindow" id="debugWindow" ng-controller="debugWindowCtrl">
  <div role="tabpanel" ng-cloak layout="column">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Debug Data</h2>
        <span flex></span>
        <md-button aria-label="Close" title="close" class="md-icon-button" ng-click="closeDebugWindow()">
          <fa name="times" size="large"></fa>
        </md-button>
      </div>
    </md-toolbar>

    <md-tabs ng-init="activeTab = 'applicationLogs'" md-border-bottom flex>
      <md-tab md-on-select="activeTab = 'applicationLogs'">
        <md-tab-label>Application Logs <span class="badge">{{appLogs.length}}</span></md-tab-label>
        <md-tab-body>
          <div class="md-padding">
            <div ng-repeat="log in appLogs" class="logItem">
              <p>{{log.time.toString()}}:</p>
              <pre>{{log.message}} <span ng-if="log.sasProgram">({{log.sasProgram}})</span></pre>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab md-on-select="activeTab = 'debugData'">
        <md-tab-label>Debug Data <span class="badge">{{debugData.length}}</span></md-tab-label>
        <md-tab-body>
          <div class="md-padding">
            <div ng-repeat="log in debugData" class="logItem">
              <p>{{log.time.toString()}}:</p>
              <div class="collapsible">
                <div>
                  <a ng-click="collapseDebug[$index] =! collapseDebug[$index]" href="">
                    {{log.sasProgram}}
                  </a>
                </div>
                <div ng-class="{hidden: !collapseDebug[$index]}" class="collapse">
                  <div ng-bind-html="log.message">{{log.message}}</div>
                </div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab md-on-select="activeTab = 'sasErrors'">
        <md-tab-label>Sas Errors <span class="badge">{{sasErrors.length}}</span></md-tab-label>
        <md-tab-body>
          <div class="md-padding">
            <div ng-repeat="err in sasErrors" class="logItem">
              <p>{{err.time.toString()}}</p>
              <p>Sas Program: {{err.sasProgram}}</p>
              <pre>{{err.message}}</pre>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab md-on-select="activeTab = 'faledReq'">
        <md-tab-label>Failed Requests <span class="badge">{{failedRequests.length}}</span></md-tab-label>
        <md-tab-body>
          <div class="md-padding">
            <div ng-repeat="log in failedRequests" class="logItem">
              <p>{{log.time.toString()}}:</p>
              <div class="collapsible">
                <div>
                  <a ng-click="collapseReq[$index] =! collapseReq[$index]" href="">
                    {{log.sasProgram}}
                  </a>
                </div>
                <div ng-class="{hidden: !collapseReq[$index]}" class="collapse">
                  <div ng-bind-html="log.message">{{log.message}}</div>
                </div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>

    <md-button ng-show="appLogs.length && activeTab == 'applicationLogs'" class="clear-btn md-raised" type="submit" ng-click="clearApplicationLogs()">Clear</md-button>
    <md-button ng-show="debugData.length && activeTab == 'debugData'" class="clear-btn md-raised" type="submit" ng-click="clearDebugData()">Clear</md-button>
    <md-button ng-show="sasErrors.length && activeTab == 'sasErrors'" class="clear-btn md-raised" type="submit" ng-click="clearSasErrors()">Clear</md-button>
    <md-button ng-show="failedRequests.length && activeTab == 'faledReq'" class="clear-btn md-raised" type="submit" ng-click="clearFailedRequests()">Clear</md-button>


  </div>
</div>
