/**************** DEBUG WINDOW *******************/
#debugWindow {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 800px;
  max-width: 100%;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 10000;

  -webkit-box-shadow: 0px 0px 10px 2px rgba(61,61,61,0.6);
  -moz-box-shadow: 0px 0px 10px 2px rgba(61,61,61,0.6);
  box-shadow: 0px 0px 10px 2px rgba(61,61,61,0.6);
}

#debugWindow > div {
  height: 100%;
}

.tab-content {
  overflow-y: auto;
}

#debug-btn {
  position: absolute;
  top: 50px;
  right: 0;
}

#debugWindow .tab-content {
  padding: 5px 10px;
}

@media (max-width: 800px) {
  #debugWindow md-tabs {
    margin-top: 30px;
  }
}

#debugWindow button.close {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 100;
  font-size: 26px;
}

#debugWindow .clear-btn {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

#debugWindow .collapsible {
  overflow: hidden;
}

#debugWindow .collapsible .hidden {
  height: 0;
}

.logItem {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/*************************************************/


/******************* LOGIN MODAL *****************/
#login-msg {
  text-align: center;
  font-weight: bold;
  margin: -20px 0 10px 0;
}
#login-msg.error {
  color: #a94442;
}
/*************************************************/

/***************** TOAST MESSAGE *****************/
.shadow-toast .alert {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(61,61,61,0.3);
  -moz-box-shadow: 0px 0px 7px 1px rgba(61,61,61,0.3);
  box-shadow: 0px 0px 7px 1px rgba(61,61,61,0.3);
}
/*************************************************/

#login-modal {
  width: 300px;
}

#login-modal > md-toolbar {
  padding: 0 20px;
}
#login-modal > md-content {
  padding: 10px 20px;
}

#main-container {
  height: 100%;
  overflow-y: auto;
}

.navbar md-menu-bar, .navbar md-menu {
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .navbar md-menu-bar {
    padding-right: 0;
  }
}

.navbar-logo {
  height: 50%;
  margin-right: 10px;
}

md-toast.error .md-toast-content {
  background-color: #D8001D;
}

md-toast.success .md-toast-content {
  background-color: #469229;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #bbbbbb;
  border-radius: 10px;
}
