<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <img class="navbar-logo" src=""> -->
        <button class="md-icon-button md-button md-ink-ripple hide-gt-sm" type="button" ng-click="openSideMenu()" aria-label="Toggle Menu">
          <fa name="bars" size="large"></fa>
        </button>
        <a href="#">SAS Table Editor</a>
        <span flex></span>
        <span class="hide-xs">Debug&nbsp;</span>
        <md-switch class="hide-xs md-primary md-hue-3" ng-click="toggleDebugging()" ng-model="debug" aria-label="Debug"></md-switch>
        <md-button class="hide-xs md-raised" ng-click="openDebugWindow()">Show Log</md-button>
        <a id="tour-btn" href="" class="hide-sm" ng-click="showTour()">
          <fa name="question" size="large"></fa>
          <md-tooltip md-direction="left">
            Explain how to use
          </md-tooltip>
        </a>
      </div>
    </md-toolbar>
</nav>
