<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <span class="navbar-text">Welcome to h54s AngularJs Seed App</span>
    <div class="btn-group navbar-right navbar-btn" role="group">
      <button id="toggle-debug-btn" type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" ng-click="toggleDebugging()">Debug</button>
      <button type="button" class="btn btn-default" ng-click="openDebugWindow()">Show Log</button>
    </div>
  </div>
</nav>
